* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

button {
    padding: .5rem 1rem;
    margin: 1rem;
    background-color: #000;
    color: #fcba03;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: .3rem;
}

.btn-box {
    display: flex;
    margin: 1rem auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: .5rem;
    margin: auto;
    border: 2px dotted black;
}

.w-full {
    width: 100%;
}

.image-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2rem;
}